<div class="row">
  <aside class="span4">
    <section>
      <h1>

        <%= current_user.name %> 
      </h1>

      <p><%= button_to "Add Property", addproperty_path%> </p>
    </section>
  </aside>

  <div class="span8">
   <h3>Properties (<%= current_user.properties.count %>)</h3>
       <table class = 'table table-striped'>  

       <tr>                          
         <th>Name</th>
         <th>Street</th>
         <th>Postcode</th>
         <th>Title</th>
         <th>Firstname</th>
         <th>Surname</th>
       </tr>
       <%= render @properties %>
       </table>
      
      </ol>
      <%= will_paginate @properties %>
  </div>
</div>
