<%= simple_form_for(@council) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :CouncilTel %>
    <%= f.input :CouncilEmail %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
