

	<span>
	
	<ol>
	
	<tbody>

		<tr>
	  		<td><%= property.name %></td>  
	 		<td><%= property.address.street1 %></td> 
	 		<td><%= property.address.city %></td>
	 		<td><%= property.address.county %></td>  
	 		<td><%= property.address.postcode %></td> 
		 </tr> 
	</tbody>	


	</ol>
			
		
	</span>
          
    		



