<h1>Add New Property</h1>


<%= simple_form_for @property do |f| %>
 <%= f.error_notification %>
  <%= f.input :name %>
    <%= f.simple_fields_for :address do |address| %>
      <%= render 'shared/address', :f => address %>
 	<%= f.submit %>
 	<% end %>
<% end %>
