<fieldset>
  
<%= f.label :street1, 'Address 1' %><br />
<%= f.text_field :street1 %>

<p>
  <%= f.label :street2, 'Address 2' %><br />
  <%= f.text_field :street2 %>
</p>
 
<p>
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</p>
 
<p>
  <%= f.label :county %><br />
  <%= f.text_field :county %>
</p>
 
<p>
  <%= f.label :postcode, 'postcode' %><br />
  <%= f.text_field :postcode %>
</p>



</fieldset>
  

 
