<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to propertyutilties.com</h1>
    <p>
      You have successfully added a new property example.com,
      your property is: <%= @property.name %>.<br/>
    </p>
    <p>
      <table>                         
          <tr>                          
            <th>Title</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Date Of Birth</th>
            <th>Telephone No</th>
            <th>Contact Type</th>
            <th>Email</th>
          </tr>
        <% @property.tenants.each do |tenant| %>      
          <tr>
            <td><%= tenant.title %></td>  
            <td><%= tenant.firstname %></td> 
            <td><%= tenant.surname %></td>
            <td><%= tenant.dateofbirth %></td>
            <td><%= tenant.telno %></td>
            <td><%= tenant.contact_type %></td>
          </tr>
        <% end %>               
        </table>    

        <table>                         
            <tr>                          
              <th>Council Name</th>
              <th>Council Email </th>
            </tr>
          <% @property.councils.each do |council| %>      
            <tr>
              <td><%= council.name %></td>   
               <td><%= council.email %></td>  
            </tr>
          <% end %>               
      </table>    

    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>